/*! TACHYONS v4.5.5 | http://tachyons.io */

/*
 *
 *      ________            ______
 *      ___  __/_____ _________  /______  ______________________
 *      __  /  _  __ `/  ___/_  __ \_  / / /  __ \_  __ \_  ___/
 *      _  /   / /_/ // /__ _  / / /  /_/ // /_/ /  / / /(__  )
 *      /_/    \__,_/ \___/ /_/ /_/_\__, / \____//_/ /_//____/
 *                                 /____/
 *
 *    TABLE OF CONTENTS
 *
 *    1. External Library Includes
 *       - Reset.css | http://meyerweb.com/eric/tools/css/reset/
 *    2. Tachyons Modules
 *    3. Variables
 *       - Media Queries
 *       - Colors
 *    4. Debugging
 *       - Debug all
 *       - Debug children
 *
 */


/* External Library Includes */
@import './imports/_reset';

/* Modules */
@import './imports/_box-sizing';
@import './imports/_images';
@import './imports/_background-size';
@import './imports/_background-position';
@import './imports/_outlines';
@import './imports/_borders';
@import './imports/_border-radius';
@import './imports/_border-style';
@import './imports/_border-widths';
@import './imports/_border-colors';
@import './imports/_code';
@import './imports/_coordinates';
@import './imports/_clears';
@import './imports/_display';
@import './imports/_flexbox';
@import './imports/_floats';
@import './imports/_font-style';
@import './imports/_font-weight';
@import './imports/_forms';
@import './imports/_heights';
@import './imports/_line-height';
@import './imports/_links';
@import './imports/_lists';
@import './imports/_max-widths';
@import './imports/_widths';
@import './imports/_overflow';
@import './imports/_position';
@import './imports/_opacity';
@import './imports/_spacing';
@import './imports/_text-decoration';
@import './imports/_text-align';
@import './imports/_text-transform';
@import './imports/_type-scale';
@import './imports/_typography';
@import './imports/_utilities';
@import './imports/_visibility';
@import './imports/_white-space';
@import './imports/_vertical-align';
@import './imports/_states';
@import './imports/_z-index';
@import './imports/_styles';
@import './imports/_buttons';
@import './imports/_svg';
@import './imports/_cms';

/* Variables */
/* Importing here will allow you to override any variables in the modules */
@import './imports/_colors';
@import './imports/_media-queries';
@import './imports/_variables';

/* Debugging */
@import './imports/_debug-children';
@import './imports/_debug-grid';

/* Uncomment out the line below to help debug layout issues */
/* @import './imports/_debug'; */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    color: var(--color-body);
}
* {
    margin: 0;
    padding: 0;
}
a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover {
        color: var(--link-color);
    }
}
p {
    margin-bottom: 28px;

    &:empty {
        display:none;
    }
}
#sidebar {
    padding-top: 32px;
}
#main {
    flex: 3;
}
.articles {
    padding: 16px 0;
}
.post {
    font-size: 16px;
    /*font-weight: 200;*/
    padding: 16px 48px;

    .post-thumb {
        float: left;
        margin-right: 20px;
        width: 25%;

        img {
            max-width: 100%;
        }
    }

    header {
        margin-bottom: 20px;

        a {
            color: var(--color-bold);

            &:hover {
                color: var(--color-bold);
            };
        }
    }

    time {
        color: #898f9c;
        margin-bottom: 8px;
    }

    h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .post-content {
        .post-hero-image {
            float: left;
            margin-right: 15px;
            width: 50%;
        }
        img {
            max-width: 100%;
        }
        p {
            font-weight: 300;
            font-style: normal;
            font-size: 16px;
            line-height: 1.6em;
            margin: 0;
            padding-bottom: 24px;
            color: #333;
        }
        blockquote {
            margin: 0 0 30px;
            margin-left: -26px;
            border-left: 3px solid var(--color-purple);
            padding-left: 20px;

            p {
                letter-spacing: 0.01rem;
                font-weight: 400;
                font-style: italic;
                padding-bottom: 3px;
            }
        }
    }
}
.summary {
    & > p {
        margin-bottom: 10px;
    }
}

.gravatar {
    img {
        border-radius: 50%;
        margin-left: 10%;
        max-width: 80%;
    }
}
#links {
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    width: 70%;

    svg {
        fill: var(--color-bold);
        height: 24px;
        transition: color 0.2s ease-in-out;

        &:hover {
            fill: var(--color-bold);
        }
    }
}
#bio-short {
    margin: 0 auto;
    text-align: center;
    width: 70%;
}
pre {
    padding: 8px 12px;
    overflow-x: scroll;

    & > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
        white-space: pre-wrap;
        word-break: break-all;
    }
}
code {
    padding: 1px 5px;
}

@media (max-width: 768px) {
    #sidebar {
        display: block;
        margin-left: 25%;
        width: 50%;
    }
    .post-thumb {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

@media (max-width: 400px) {
    #sidebar {
        margin-left: 15%;
        width: 70%;

        #bio-short {
            width: 100%;
        }
    }
}