{{ $styles := .Page.Scratch.Get "this" | default dict }}
{{ $styleArr := $styles.style | default slice }}
{{ $scriptArr := $styles.script | default slice }}

{{ $styleArr = $styleArr | append (dict "Source" "https://cdnjs.cloudflare.com/ajax/libs/mhayes-twentytwenty/1.0.0/css/twentytwenty.min.css") }}

{{ $scriptArr = $scriptArr | append (dict "Source" "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js") }}
{{ $scriptArr = $scriptArr | append (dict "Source" "https://cdnjs.cloudflare.com/ajax/libs/mhayes-twentytwenty/1.0.0/js/jquery.event.move.min.js") }}
{{ $scriptArr = $scriptArr | append (dict "Source" "https://cdnjs.cloudflare.com/ajax/libs/mhayes-twentytwenty/1.0.0/js/jquery.twentytwenty.min.js") }}
{{ $scriptArr = $scriptArr | append (dict "Content" "$(window).on('load', function() { $('.twentytwenty-container').twentytwenty(); });") }}

{{ $styles = dict "style" $styleArr "script" $scriptArr | merge $styles }}
{{ .Page.Scratch.Set "this" $styles }}

<!-- TwentyTwenty container -->
<div class="twentytwenty-container" style="max-width: 100%;">
    <img src="{{ .Get "left" }}" alt="Left Image" />
    <img src="{{ .Get "right" }}" alt="Right Image" />
</div>

